<div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-sm-6">
        <div class="product-card">
            <div class="product-details">
                <div class="h4">{{ product.name }}</div>
                <div class="p">{{ product.description }}</div>
                <div class="product-bottom-details d-flex justify-content-between">
                    <div class="product-price">
                        {{ product.price }} ₽
                    </div>
                    <div class="product-links">
                        <a href="#" class="add-to-cart" data-id="{{ product.name }}">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                    <div class="product-links">
                        <a href="">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Обработчик кликов по кнопкам добавления в корзину
        document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Предотвращает переход по ссылке

                const productId = this.getAttribute('data-id'); // Получение ID товара из атрибута data-id

                // Отправка запроса на сервер
                fetch('http://127.0.0.1:8000/add_busket_product', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id: productId })
                })
                .then(response => response.json())
            });
        });
    });
</script>