<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<!-- Кнопка для вызова админ-панели -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adminPanelModal">
    Открыть админ-панель
</button>

<!-- Модальное окно админ-панели -->
<div class="modal fade" id="adminPanelModal" tabindex="-1" aria-labelledby="adminPanelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminPanelModalLabel">Добавить новый товар</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addProductForm">
                    <div class="mb-3">
                        <label for="productName" class="form-label">Название товара</label>
                        <input type="text" class="form-control" id="productName" name="productName" required>
                    </div>
                    <div class="mb-3">
                        <label for="productDescription" class="form-label">Описание товара</label>
                        <textarea class="form-control" id="productDescription" name="productDescription" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Цена товара</label>
                        <input type="number" class="form-control" id="productPrice" name="productPrice" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить товар</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</div>


<!-- Уведомление -->
<div id="notificationSuccessfullyAddProduct" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1060">
    <div id="notificationContentSuccessfullyAddProduct" class="toast hide bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" style="width: 400px;">
        <div class="toast-header">
            <strong class="me-auto">Уведомление</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Товар успешно добавлен!
        </div>
    </div>
</div>
<!-- Уведомление -->


<script>
    document.getElementById("addProductForm").addEventListener("submit", function(event) {
        event.preventDefault();

        const productName = document.getElementById("productName").value;
        const productDescription = document.getElementById("productDescription").value;
        const productPrice = document.getElementById("productPrice").value;

        const productData = {
            name: productName,
            description: productDescription,
            price: productPrice,
        };

        fetch("http://127.0.0.1:8000/admin/add_product", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(productData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Товар успешно добавлен!") {
                const notification = new bootstrap.Toast(document.getElementById('notificationContentSuccessfullyAddProduct'));
                notification.show();
            }
        })
    });
</script>

</html>