<!-- Уведомление при успешной регистрации. -->
<div id="notificationSuccessfullyRegistration" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1060">
    <div id="notificationContentSuccessfullyRegistration" class="toast hide bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" style="width: 400px;">
        <div class="toast-header">
            <strong class="me-auto">Уведомление</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Пользователь успешно зарегистрирован!</div>
    </div>
</div>
<!-- Уведомление при успешной регистрации. -->

<!-- Уведомление, если пароли не совпадают. -->
<div id="notificationFailedPassword" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1060">
    <div id="notificationContentFailedPassword" class="toast hide bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" style="width: 400px;">
        <div class="toast-header">
            <strong class="me-auto">Уведомление</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Пароли не совпадают!</div>
    </div>
</div>
<!-- Уведомление, если пароли не совпадают. -->

<!-- Уведомление при дублировании пользователя. -->
<div id="notificationDuplicateUser" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1060">
    <div id="notificationContentDuplicateUser" class="toast hide bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" style="width: 400px;">
        <div class="toast-header">
            <strong class="me-auto">Уведомление</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Такой пользователь уже существует!</div>
    </div>
</div>
<!-- Уведомление при дублировании пользователя. -->

<!-- Уведомление, если пользователь не найден. -->
<div id="notificationFailedUser" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1060">
    <div id="notificationContentFailedUser" class="toast hide bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" style="width: 400px;">
        <div class="toast-header">
            <strong class="me-auto">Уведомление</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">Пользователь не найден! Проверьте правильность указанных данных.</div>
    </div>
</div>
<!-- Уведомление, если пользователь не найден. -->